@font-face {
  font-family: 'iconfont';  /* Project id 3763015 */
  src: url('//at.alicdn.com/t/c/font_3763015_e7ayz06tqbc.woff2?t=1668073059729') format('woff2'),
       url('//at.alicdn.com/t/c/font_3763015_e7ayz06tqbc.woff?t=1668073059729') format('woff'),
       url('//at.alicdn.com/t/c/font_3763015_e7ayz06tqbc.ttf?t=1668073059729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


